@(apps: List[App], appForm: Form[App], user: User)

@import helper._

@main("Applications", user) {

<h1>@apps.size() app(s)</h1>

<ul>
    @for(app <- apps) {
    <li>
        @app.id <br>
        @app.name <br>
        @app.uri
        @form(routes.Users.requestApp(user.email,app.id)){
            <input type="submit" value="Request">
        }
        @form(routes.Apps.deleteApp(app.id)) {
            <input type="submit" value="Delete">
        }
    </li>
    }
</ul>

@if(user.isAdmin) {
    <h2>Add a new app</h2>

    @form(routes.Apps.createApp()) {

    @inputText(appForm("name"))
    @inputText(appForm("uri"))

    <input type="submit" value="Create">

    }

}
}