@(apps: List[App], appForm: Form[App], user: User)

@main("Applications", user) {

<h1> Applications</h1>
<ul>
    @for(app <- apps) {
    <li>
        <b>Name:</b> @app.name <br>
        <b>URL:</b> @app.uri
        <div class="buttons">
            @form(routes.Users.requestApp(user.email,app.id)){
                <input type="submit" value="Request" >
            }

        @form(routes.Apps.deleteApp(app.id)) {
            <input type="submit" value="Delete">
        }
        </div>
        <br>
    </li>
    }
</ul>

@if(user.isAdmin) {
    @form(routes.Apps.createApp()) {
        <h1>Add a new app</h1>
        @inputText(appForm("name"))
        @inputText(appForm("uri"))
        <input type="submit" value="Create">
    }

}
}