@(title: String,  user: User)(content: Html)

@* @( user: User)(body: Html) *@

<html>
<head>
    <title>Saas Portal</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/myMain.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
</head>
<body>
<header>
    <dl id="user">
        <dt>@user.name <span>(@user.email)</span> credits: @user.credits</dt>
        <dd>
            <a href="@routes.Application.logout()">Logout</a>
        </dd>
    </dl>
</header>

<nav>
    <section id ="menu">
        <ul>
            <a href="@routes.MyApps.myApps" ><span>My Apps</span></a>
        </ul>
        <ul>
            <a href="@routes.Apps.apps" ><span>Apps</span></a>
        </ul>
        @if(user.isAdmin) {
            <ul>
                <a href="@routes.Users.users" ><span>Users</span></a>
            </ul>
            <ul>
                <a href="@routes.Provisioning.provisioning" ><span>Provisioning</span></a>
            </ul>
        }

    </section>
</nav>

<section id="main">
    @content
</section>
</body>
</html>


