@(users: List[User], user: User)

@import helper._

@main("Provisioning", user) {

<h1>Requests</h1>
<ul>
  @for(user <- users) {
    @if(user.requestedApps.size()>0) {
        <li>
             <br>
            @for(app <- user.requestedApps) {

                <li>
                    @app.name - @user.name @user.email
                </li>
                <div class="buttons">
                    @form(routes.Provisioning.approveApp(user.email, app.id)) {
                        <input type="submit" value="Approve">
                    }
                </div>
            }
        </li>
    }
  }
</ul>

}