@(performer: User, user: User)

@import helper._

@main("User details", performer) {

<h1>User details - @user.name</h1>

Email: @user.email<br>
Credits: @user.credits<br>
Applications count: @user.userApps.size()<br>
@if(user.userApps.size>0){
Applications:
    <ul>
        @for(app <- user.userApps) {
        <li>
            @app.name
        </li>
        }
    </ul>
}
Requested applications count: @user.requestedApps.size()<br>
@if(user.requestedApps.size>0){
    Requested applications:
    <ul>
        @for(app <- user.requestedApps) {
        <li>
            @app.name <br>
            }
        </li>
    </ul>
}
}
